@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.Main-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    height: 440px;
    padding: 30px;

}
/* Login*/
.Name-header{
    text-align: center;
    margin: 20px 0 40px 0;

}
.Name-header header{
    color: black;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.dando{
    color: red;
    margin: 0 10px;
}



.input-box .input-field{
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.3);
    outline: none;
    transition: 0.3s;
}
::placeholder{
    font-weight: 500;
    color: #000;

}

/* Forget Password and Sign up section */
.forget{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-left: 20px;

}


section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

a:hover{
    text-decoration: underline;
    

}
.input-submit{
    display: flex;
    text-align: center;
    justify-content: center;
}

.submit-btn{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 250px;
    padding: 10px 12px;
    background: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid black;

}
.Reset-btn{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding: 10px 12px;
    background: #000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid black;

}


/* signup & login click links*/
.page-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;

}
.page-link a{
    color: #000;
    font-weight: 600;

}
.page-link2{
    text-align: center;
    font-size: 15px;
    margin-top: 40px;

}
.page-link2 a{
    color: #000;
    font-weight: 600;

}

/* back btn in forget or reset password */
.back-btn{
    /* display: flex; */
    position: fixed;
    top: 40px;
    left: -20px;
    border: 2px solid #000;
    background-color: #000;
    
    border-radius: 15px;
    width: 110px;
    
    text-align: end;
}
a{
    text-decoration: none;
}

.back-space{
    letter-spacing: 2px;
    color: #fff;
    padding: 3px 10px;
    transition: 0.3s ease-in;
}
.back-space:hover{
    color: #000;
}
.back-btn:hover{
    background-color: #fff;

}

/* forget Password Logo */
.logo{
    font-size: 90px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    /* margin-bottom: 30px; */
}

/* otp page */
.resend{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color:#000;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: rgb(70, 70, 232);
}
.resend:hover{
    text-decoration: underline;
    color: rgb(70, 70, 232);
    
    
}
form{
    /* text-align: center; */
    border: none;
    border-radius: 20px;
    /* border-color:none; */
    /* width: 300px; */
    height: 250px;
    /* margin-top: 50px; */
    color: #000;
    
}
.Otp input{
    width: 120px;
    height: 35px;
    text-align: center;
    font-size: larger;
    border: none;
    background-color: #fff;
    border-bottom: solid #000;
    margin: 9px;
}

.Otp input::placeholder {
    color: rgb(188, 183, 183); /* Placeholder color */
}


.Otp input:focus{
    /* border: 2px solid #fff; */
    outline: none;
    border-bottom: 4px solid #000;
    caret-color: transparent;
    /* font-weight: bold; */
}

.icon span{
    font-size: 100px;
    color:#000;
    
}
.text-center{
    text-align: center;
}
.block{
    display: block;
    text-align: center;
    width: 100%;
}
.verify-btn{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    padding: 10px 12px;
    background: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid #fff;
    margin-top: 15px;
    
}
.btn{
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width:270px){
    .Name-header{
        text-align: center;
        margin: 20px 0 40px 0;
        font-size: 20px;
    
    }
    .Name-header header{
        color: black;
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

}
@media screen and (max-width:1024px) {
    .logo{
        top: 10%;
        font-size: 80px;
    }
    
}
@media screen and (max-width:425px) {
    form{
        font-size: 14px;
    }
    .verify-btn{
        font-size: 13px;
    }
    .resend{
        font-size: 13px;
    }
    .icon span{
        font-size: 80px;
    }
    .Otp input{
        width: 100px;
    }
    
}